.main_article_details {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	background-color: white;
}
.article_details1{
	width: 100%;
	height: 245px;
	border: 1px solid #9d9e9e;
}
.article_details1_top{
	width: 100%;
	height: 200px;
	background-color: #3f3f3f;
	padding: 60px 262px;
}
.article_details1_top h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 53px;
	color: white;
}
.article_details1_top h1 span {
	font-weight: bold;

}
.article_details1_top h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: white;
	letter-spacing: 15px;
	margin-top: -15px;
	margin-left: 5px;
}
.article_details1_top h3 span {
	color: #d58e32;
	font-weight: bold;
}
.article_details1_bottom{
	width: 100%;
	height: 45px;
	background-color: #e2e2e2;
}
.article_details2{
	width: 880px;
	height: auto;
	//background-color: red;
	float:left;
}
.grid-list{
	right: 0px;
	float: right;
}
.grid_button{
	margin-right: 15px;
}
.products_filters{

	width: 260px;
	float: right;
	height: auto;
	//background-color: blue;
}
.clearboth{
	clear: both;
}
.fbc_items_conteiner{
	width: 100%;
	height: 100%;
	margin: 5px;
}
.fbc_items {
	margin-top: 10px
}
.fbc_number_items{
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: black;
}
.fbc_title{
	border-bottom: 2px solid black;
	padding: 15px 0;
	font-family: Verdana, Geneva, sans-serif;
	width: 100%;
	margin-top: 30px;
}
.fbc_items_left{
	padding: 5px 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.fbc_number_items{
	float: right;
	color: white;
	padding:auto;
	padding: 2px;
	text-align: center;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}
.fbc_items_conteiner:hover .fbc_items_left{
	margin-left: 15px;
	color: #d58e32;
}
.fbc_items_conteiner:hover .fbc_number_items{
	background-color: #d58e32;
}
form.range-slider {
    position: relative;
    width: 260px;
    height: 35px;
    text-align: center;
}

form.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 260px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

form.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

form.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

form.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
form.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  form.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
.rangeValues {
	top: 35px;
	position: absolute;
	border: 1px solid;
	font-size: 12px;
	font-weight: bold;
	right: 0px;
	height: 25px;
	width: 130px;
	text-align: center;
	padding: 7px;
	margin-top: 10px;
}
.submit_duble_slide {
	width: 60px;
	height: 25px;
	margin-top: 10px; 
}
.color_div {
	width: 10px;
	height: 10px;
	background-color: red;
	margin-right: 7px;
}
.fbc_items_left .Red {
	background-color: red;
}
.fbc_items_left .Black {
	background-color: black;
}
.fbc_items_left .Yellow {
	background-color: yellow;
}
.fbc_items_left .Blue {
	background-color: blue;
}
.fbc_items_left .Pink {
	background-color: pink;
}
.fbc_items_left .Green {
	background-color: green;
}

.the_brands {
	margin-bottom: 150px;
}
.the_section {
	height:auto;
}