
.section7 {
	position: relative;
	height: auto;
	width: 100%;
	border: 0px solid violet;
	margin: 0 0 30px 0px;
}
.blog {
	height: 640px;
	width: 100%;
	overflow: hidden;
}
.nf_line2 {
	height: 36px;
	width:660px;
	border-bottom: 4px solid #e2e2e2;
}
#blog_big_wrap {
	width: 3530px;
	height: 544px;
}
.blogs {
	width: 360px;
	height:544px;
}
.blog_up {
	position: relative;
	width: 360px;
	height: 290px;
	//background-color: #969696;
	overflow: hidden;
}
.image_blog_top {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.date_com {
	position: absolute;
	width: 300px;
	height: 45px;
	background-color: white;
	margin: 0 30px;
	bottom: 0px;
}
.blog_date, .blog_comm {
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.blog_date img, .blog_comm img {
	margin-right: 5px;
}
.blog_down {
	position: relative;
	width: 360px;
	height: 254px;
	//border: 1px solid #969696;
	//border-top: none;
}
.blog_down h4 {
	margin: 20px 30px;
	font-weight: bold;
}
.blog_text {
	margin: 0px 30px;
	line-height: 25px;
}
.blog_read_more {
	position: absolute;
	bottom: 0px;
	width: 165px;
	height: 45px;
	background-color: #2a2a2a;
	margin: 0 97px;
	line-height: 45px;
	text-align: center;
	color: white;
	font-weight: bold;
}
.blogs:hover .blog_down h4 {
	color: #d58e32;
}
.blogs:hover .blog_read_more {
	background-color: #d58e32;
}
.blog_spacer {
	width: 30px;
	height: 640px;
}
